<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form (submit)="search()">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search for food items..."
            [(ngModel)]="searchText"
            id="searchfood"
            name="searchfood"
            />
          <div class="input-group-append">
            <button
              type="submit"
              class="btn btn-primary"
              
            >
              SearchFood
            </button>
          </div>

          
        </div>
      </form>
      <div class="container mt-5" *ngIf="products.length != 0">
        <h2 class="mb-4">Product List</h2>
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Description</th>
              <th>Ingredients</th>
              <th>Category</th>
              <th>Add to Buy</th>
            </tr>
          </thead>
          <tbody>
            <!-- Example product data (replace with your actual data) -->
            <tr *ngFor="let product of products">
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.price | currency: 'INR'  }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.ingredients }}</td>
              <td>{{ product.category }}</td>
              <td>
                <div class="d-inline-flex">
                  <button class="btn btn-primary" (click)="decreaseQuantity(product.id)" >Remove</button>
                  <span class="mx-2">{{product.quantity}}</span>
                  <button class="btn btn-primary" (click)="increaseQuantity(product.id)">Add</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

          <!-- Checkout button -->
  <div class="text-center mt-4">
    <button class="btn btn-success" (click)="checkout()">Checkout</button>
  </div>
      </div>
    </div>
    </div>
  </div>




